@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcf9f3;
  --primary: #e78345;
  --primary2: #f17b33;
  --foreground: #777;
  --Navy-Blue: #1a1a41;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Urbanist-Variable";
  src: url("../public/fonts/Urbanist-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}
